@tailwind base;
@tailwind components;
@tailwind utilities;

.profileBg {
    background-color: #818FB4;
    height: 100%;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }

    to {
        transform:  translateX(0);
        opacity: 1;
    }
}