.profileImage{
    object-fit: cover;
    margin: 1rem;
    border-radius: 10px;
}

.profileInfo{
    margin-left: 1rem;
}
.profileInfo p{
    display: flex;
    align-items: center;
}
.profileInfo span{
    margin-left: 0.5rem;
}
.pagination{
    margin-top: 1rem;
}
.paginationButton{
    background-color: #363062;
    color: white;
    margin: 2px;
}
.aboutMe{
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

